.afterBanner {
    padding: calc(var(--mantine-spacing-lg) * 2) 0;
    background: $violet9;

    @media (max-width: $mantine-breakpoint-md) {
        padding: 24px 20px 24px;
    }
}

.firstBlock {
    padding-top: 200px;

    @media (max-width: $mantine-breakpoint-md) {
        padding-top: 160px;
    }
}

.inner {
    gap: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    color: $yellow9;
}

.cardsWrap {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.cards {
    gap: calc(var(--mantine-spacing-lg) * 5);
    align-items: center;
    flex-wrap: nowrap;

    @media (max-width: $mantine-breakpoint-md) {
        gap: var(--mantine-spacing-md);
    }
}
