.infoColumn {
    padding-top: calc(var(--mantine-spacing-sm) * 4);
    padding-bottom: calc(var(--mantine-spacing-sm) * 4);
    background-color: $white;
    color: $black;

    @media (max-width: $mantine-breakpoint-md) {
        padding-top: calc(var(--mantine-spacing-md) * 2);
        padding-bottom: calc(var(--mantine-spacing-md) * 2);
    }
}

.firstBlock {
    padding-top: 200px;

    @media (max-width: $mantine-breakpoint-md) {
        padding-top: 160px;
    }
}

.inner {
    max-width: 880px;
}

.block {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.blockContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.blockIcon {
    padding: 8px;
    border-radius: 8px;
    background: $violet0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: var(--mantine-font-size-md);
}

.description {
    font-size: var(--mantine-font-size-md);

    p {
        margin: 0 0 var(--mantine-spacing-md);

        &:last-of-type {
            margin: 0;
        }
    }

    a {
        color:$violet9;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
