.simpleHeroBlock {
	padding-top: calc(var(--mantine-spacing-sm) * 4);
	padding-bottom: calc(var(--mantine-spacing-sm) * 4);
	margin-bottom: 64px;
	background-color: $white;
	color: $black;

	@media (max-width: $mantine-breakpoint-md) {
		padding-top: calc(var(--mantine-spacing-md) * 2);
		padding-bottom: calc(var(--mantine-spacing-md) * 2);
		margin: 0;
	}
}

.firstBlock {
	padding-top: 200px;

	@media (max-width: $mantine-breakpoint-md) {
		padding-top: 160px;
	}
}

.blockGrid {
	grid-template-columns: calc(30% - 12px) calc(70% - 12px);

	@media (max-width: $mantine-breakpoint-md) {
		grid-template-columns: 1fr;
	}
}

.inner {
	gap: 24px;
}

.content {
	color: $black;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

.title {
	word-break: break-word;

	@media (max-width: $mantine-breakpoint-xs) {
		font-size: 24px;
	}
}

.desc {
	font-size: var(--mantine-font-size-lg);

	@media (max-width: $mantine-breakpoint-md) {
		font-size: var(--mantine-font-size-md);
	}

	a {
		color: $violet9;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	p {
		margin: 0 0 var(--mantine-spacing-xl);

		&:last-of-type {
			margin: 0;
		}
	}
}
