$s1:"";
$s2:"";
$s3:"";
@for $i from 1 through 300 {
$s1: $s1 + random(1000)*0.1vw + " " + random(1000)*0.1vh + " " + 0 + " " + random(50)*-0.01rem + #fff;
$s2: $s2 + random(1000)*0.1vw + " " + random(1000)*0.1vh + " " + 0 + " " + random(50)*-0.01rem + #fff;
$s3: $s3 + random(1000)*0.1vw + " " + random(1000)*0.1vh + " " + 0 + " " + random(50)*-0.01rem + #fff;
    @if $i < 300 {
    $s1: $s1 + ",";
    $s2: $s2 + ",";
    $s3: $s3 + ",";
    }
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #EE2737;
}

.snow {
    border-radius: 50%;
    opacity: 0.8;
    position: absolute;
    top:-100vh;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.layer1 {
    width: 0.6rem;
    height: 0.6rem;
    box-shadow: #{$s1};
    animation-duration: 12s;
}
.layer1.a {
    animation-delay: -6s;
}
.layer2 {
    width: 0.6rem;
    height: 0.6rem;
    box-shadow: #{$s2};
    animation-duration: 16s;

    @media (max-width: 480px) {
        display: none;
    }
}
.layer2.a {
    animation-delay: -8s;
}

.layer3 {
    width: 0.8rem;
    height: 0.8rem;
    filter:blur(6px);
    box-shadow: #{$s3};
    animation-duration: 20s;
}
.layer3.a {
    animation-delay: -10s;
}
@keyframes fall {
    100% {transform: translateY(200vh); }
}